<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDLztL4fG5MpDehnNoX-oX_A8t3OkOdC68</string>
	<key>GCM_SENDER_ID</key>
	<string>419782703432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io..Peppy</string>
	<key>PROJECT_ID</key>
	<string>peppy-2e5aa</string>
	<key>STORAGE_BUCKET</key>
	<string>peppy-2e5aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:419782703432:ios:52151429af4ae551d9db7d</string>
</dict>
</plist>