<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbuSo5SEIv98zuwp7dUi_3mzXoWo0Pqlo</string>
	<key>GCM_SENDER_ID</key>
	<string>87672763058</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io..Peppy</string>
	<key>PROJECT_ID</key>
	<string>peppy-28bd2</string>
	<key>STORAGE_BUCKET</key>
	<string>peppy-28bd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87672763058:ios:c89a2943fbe9becd2ecfab</string>
</dict>
</plist>